<div class="p-fluid p-formgrid grid">



    <div class="field col-12 md:col-3">
        <label htmlFor="state">Select Month</label>
        <!-- Date Range Selection -->
        <p-calendar view="month" dateFormat="mm/yy" [(ngModel)]="selectedDate" (onSelect)="onDateRangeChange($event)"
            placeholder="Select Month"></p-calendar>
    </div>


    <div class="field col-12 md:col-3">

        <label htmlFor="state">Total payment</label>

        <ng-container *ngIf="selectedEstate else notAvailable">
            <div class="font-bold text-38px text-align-right">
                <label for="" class="text-blue-600">{{getTotalAmount() |
                    currency: 'Rs'}}</label>

            </div>
        </ng-container>
        <ng-template #notAvailable>
            <div class="font-bold text-38px text-align-right">
                <label for="" class="text-blue-600">N/A</label>

            </div>
        </ng-template>

    </div>

    <p-table [value]="displayEmployeePayments" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">

            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Salary 1-15</th>
                <th>OT 1-15</th>
                <th>Salary 16-31</th>
                <th>OT 16-31</th>
                <th>Monthly Salary</th>
                <th>Additional</th>
                <th>Basic</th>
                <th>EPF</th>
                <th>ETF</th>
                <th>No Pay</th>
                <th>Advance</th>
                <th>Net Salary</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment let-editing="editing" let-rowIndex="rowIndex">
            <tr>



                <td>


                    {{rowIndex + 1}}


                </td>


                <td>
                    {{payment.Name}}
                </td>

                <td>
                    {{payment.SalaryFirstHalf}}
                </td>
                <td>
                    {{payment.OTFirstHalf}}
                </td>

                <td>
                    {{payment.SalarySecondHalf}}
                </td>
                <td>
                    {{payment.OTSecondHalf}}
                </td>
                <td>
                    {{payment.SalaryMonthlyTotal}}
                </td>

                <td [pEditableColumn]="payment.AdditionDaySalary" pEditableColumnField="OnTime">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="payment.AdditionDaySalary"
                                (change)="updatePayment(rowIndex,payment.AdditionDaySalary)"
                                (keydown.Enter)="updatePayment(rowIndex,payment.AdditionDaySalary)"
                                (keydown.Tab)="updatePayment(rowIndex,payment.AdditionDaySalary)"
                                (change)="updatePayment(rowIndex,payment.AdditionDaySalary)"
                                (blur)="updatePayment(rowIndex,payment.AdditionDaySalary)" />

                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ payment.AdditionalPayment }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>{{payment.BasicSalary}}</td>
                <td>{{payment.EPF.toFixed(2)}}</td>
                <td>{{payment.ETF.toFixed(2)}}</td>
                <td>{{payment.NoPay}}</td>
                <td>
                    <!-- Add Advanced Payment Button -->
                    <span (click)="onToggleItem($event, overlayPanel)" class="advanced_paymnt_btn"
                        *ngIf="payment.Advance.length === 0">
                        + Advanced Payment
                    </span>

                    <!-- Display Existing Payments -->
                    <div *ngFor="let item of payment.Advance; let last = last" class="advanceList">
                        {{ item.Amount }} - on {{ item.PaymentDate | date: 'dd' }}

                        <i class="fa fa-trash" (click)="removeAdvance(item, payment.Id)"></i>
                        <span *ngIf="last">
                            &nbsp;
                            <i class="fa fa-plus" (click)="onToggleItem($event, overlayPanel)"></i>
                        </span>

                    </div>

                    <!-- Overlay Panel for Adding Payments -->
                    <p-overlayPanel #overlayPanel>
                        <input class="advance_input" [(ngModel)]="advanceAmount" type="number"
                            placeholder="Enter amount" />
                        <i class="fa fa-check" (click)="onAddAdvancePayment(payment, rowIndex, overlayPanel)">
                        </i>
                        <i class="fa fa-times" (click)="overlayPanel.hide()">
                        </i>
                    </p-overlayPanel>
                </td>
                <td>{{payment.NetSalary}}</td>


            </tr>
        </ng-template>
    </p-table>







</div>