<div class="p-fluid p-formgrid grid">



    <div *ngIf="!searchSpecific" class="field col-12 md:col-3">
        <label htmlFor="state">Select Date</label>
        <!-- Date Range Selection -->
        <p-calendar [(ngModel)]="selectedDate" (onSelect)="onDateRangeChange($event)"
            placeholder="Select Date"></p-calendar>
    </div>


    <div class="field col-12 md:col-3">

        <label htmlFor="state">Total payment</label>

        <ng-container *ngIf="selectedEstate else notAvailable">
            <div class="font-bold text-38px text-align-right">
                <label for="" class="text-blue-600">{{getTotalAmount() |
                    currency: 'LKR'}}</label>

            </div>
        </ng-container>
        <ng-template #notAvailable>
            <div class="font-bold text-38px text-align-right">
                <label for="" class="text-blue-600">N/A</label>

            </div>
        </ng-template>

    </div>






</div>

<div class="p-fluid p-formgrid grid">
    <div class="field col-12 md:col-3 flex align-items-center">

        <div class="flex align-items-center">
            <p-checkbox 
                [(ngModel)]="searchSpecific"
                label="Search for Specific" 
                binary="true" 
                />
        </div>

       
    </div>
    <div *ngIf="!searchSpecific" class="field col-12 md:col-3">



        <div class="display_flex_center">


            <button pButton type="button" label="Add New Employee" icon="pi pi-plus"
                (click)="addNewTempEmployee()"></button>

        </div>
    </div>
   
    <div *ngIf="searchSpecific" class="field col-12 md:col-3">



       
           

           <input type="text" placeholder="Search by Name or Mobile" pInputText [(ngModel)]="filter.SearchQuery"/>

        
    </div>
</div>


<p-table [value]="employeePayments" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }" >
    <ng-template pTemplate="header">
     
      <tr>
        <th>No</th>
        <th class="min-width150">Name</th>
        <th>Mobile</th>
        <th class="min-width150">Duty</th>
        <th>On Time</th>
        <th>Off Time</th>
        <th>OT Hours</th>
        <th>OT Rate</th>
        <th>OT Payment</th>
        <th>Day Payment</th>
        <th>Total Payment</th>
        <th>Paid</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payment let-editing="editing"  let-rowIndex="rowIndex">
      <tr>



        <td >

          
            {{rowIndex + 1}}
         

        </td>

        
            <td [pEditableColumn]="payment.EmployeeName" pEditableColumnField="EmployeeName">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="payment.EmployeeName" (change)="updatePayment(payment)" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ payment.EmployeeName }}
                </ng-template>
              </p-cellEditor>
            </td>
          
            <td [pEditableColumn]="payment.MobileNumber" pEditableColumnField="MobileNumber">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="payment.MobileNumber" (change)="updatePayment(payment)" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ payment.MobileNumber }}
                </ng-template>
              </p-cellEditor>
            </td>
          
            <td [pEditableColumn]="payment.EmployeeDuty" pEditableColumnField="EmployeeDuty">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="payment.EmployeeDuty" (change)="updatePayment(payment)" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ payment.EmployeeDuty }}
                </ng-template>
              </p-cellEditor>
            </td>
          
            <td [pEditableColumn]="payment.OnTime" pEditableColumnField="OnTime">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-calendar 
                    [(ngModel)]="payment.OnTime" 
                    [iconDisplay]="'input'" 
                    [showIcon]="false" 
                    [timeOnly]="true" 
                    inputId="templatedisplay" 
                    [appendTo]="'body'" 
                    (onBlur)="updatePayment(payment)">
                  </p-calendar>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ payment.OnTime | date: 'H:mm a' }}
                </ng-template>
              </p-cellEditor>
            </td>
          
            <td [pEditableColumn]="payment.OffTime" pEditableColumnField="OffTime">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-calendar 
                    [(ngModel)]="payment.OffTime" 
                    [iconDisplay]="'input'" 
                    [showIcon]="false" 
                    [timeOnly]="true" 
                    inputId="templatedisplay" 
                    [appendTo]="'body'" 
                    (onBlur)="updatePayment(payment)">
                  </p-calendar>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ payment.OffTime | date: 'H:mm a' }}
                </ng-template>
              </p-cellEditor>
            </td>
          
            <td [pEditableColumn]="payment.OtHours" pEditableColumnField="OtHours">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="payment.OtHours" (change)="updatePayment(payment)" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ payment.OtHours }}
                </ng-template>
              </p-cellEditor>
            </td>
          
            <td [pEditableColumn]="payment.EmployeeOTRate" pEditableColumnField="EmployeeOTRate">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="payment.EmployeeOTRate" (change)="updatePayment(payment)" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ payment.EmployeeOTRate | currency }}
                </ng-template>
              </p-cellEditor>
            </td>
          
            <td>
              {{ payment.EmployeeOTRate * payment.OtHours | currency }}
            </td>
          
            <td [pEditableColumn]="payment.EmployeeSalary" pEditableColumnField="EmployeeSalary">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="payment.EmployeeSalary" (change)="updatePayment(payment)" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ payment.EmployeeSalary | currency }}
                </ng-template>
              </p-cellEditor>
            </td>
          
          
        <td class="no_bg_color">
          
           
            
           {{ (payment.EmployeeSalary + (payment.EmployeeOTRate * payment.OtHours))  | currency}}
            
            
          
        </td>
        <td class="flex flex-wrap gap-2 no_bg_color">
          <!-- <p-inputSwitch [(ngModel)]="payment.PaymentDone" (onChange)="updatePayment(payment)"/> -->
          <button pButton icon="pi pi-trash" class="p-button-danger" (click)="deleteEmployee(employee)"></button>
        </td>

      </tr>
    </ng-template>
  </p-table>
