/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

.p-button {
    color: #ffffff;
    background: #fb6d02;
    border: 1px solid #fb6d02 !important;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition:
        background-color 0.2s,
        color 0.2s,
        border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 6px;
}
.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffe4d0 !important;
    border-color: #fb6d02 !important;
}

.p-button:focus {
    box-shadow:
        0 0 0 2px #ffffff,
        0 0 0 4px #ffb178,
        0 1px 2px 0 black !important;
}

.p-inputtext:enabled:hover {
    border-color: #fb6d02 !important;
}

.layout-menu ul a.active-route {
    font-weight: 700;
    color: #fb6d02 !important;
}
.layout-menu ul a:hover {
    background-color: #fbe6d5;
}
.layout-menu ul a:focus {
    outline: 0 none;
    outline-offset: 0;
    transition: box-shadow 0.2s;
    box-shadow: inset 0 0 0 0.2rem #ffb178;
}

.layout-menu ul a.active-route {
    font-weight: 700;
    color: #fb6d02 !important;
}

.layout-topbar .layout-topbar-button:focus {
    outline: 0 none;
    outline-offset: 0;
    transition: box-shadow 0.2s;
    box-shadow: inset 0 0 0 0.2rem #ffb178;
}

.layout-topbar .layout-topbar-button:hover {
    color: var(--text-color);
    background-color: #fbe6d5;
}

// .p-inputswitch {
//     width: 3rem;
//     height: 1.25rem;
// }
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #fb6d02;
}
.p-inputswitch.p-focus .p-inputswitch-slider {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffe4d0 !important;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: #fb6d02;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #fb6d02;
    background: #fbe6d5;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background: #fae3d0;
}
.p-dropdown:not(.p-disabled).p-focus {
    border-color: #fb6d02;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffe4d0 !important;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    border-color: #fb6d02;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #fb6d02;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: 0 0 0 0.2rem #ffe4d0 !important;
    border-color: #fb6d02;
}
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #fb6d02;
    background: #fb6d02;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover{
    border-color: #c95700;
    background: #c95700;
}
.text-default-orange {
    color: #fb6d02;
}
// .p-inputswitch .p-inputswitch-slider:before {
//     background: #ffffff;
//     width: 1rem;
//     height: 1rem;
//     margin-top: -0.5rem;
//     left: ;
//     border-radius: 50%;
//     transition-duration: 0.2s;
// }

.fc-prev-button {
    background-color: #fb6d02 !important; /* Change to desired background color */
    color: #ffffff !important; /* Change to desired text color */
    border-radius: 4px; /* Optional: round the button edges */
    border: none !important; /* Optional: remove border */
}

.fc-next-button {
    background-color: #fb6d02 !important; /* Change to desired background color */
    color: #ffffff !important; /* Change to desired text color */
    border-radius: 4px; /* Optional: round the button edges */
    border: none !important; /* Optional: remove border */
}

.fc-today-button {
    background-color: #fb6d02 !important; /* Change to desired background color */
    color: #ffffff !important; /* Change to desired text color */
    border-radius: 4px; /* Optional: round the button edges */
    border: none !important; /* Optional: remove border */
}

.event-content {
    background-color: rgb(251 109 2 / 37%) !important;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgb(251 109 2 / 33%) !important;
}

a {
    text-decoration: none;
    color: #fb6d02;
}

.fc-daygrid-body-unbalanced,
.fc-scrollgrid-sync-table,
.fc-col-header {
    width: 100% !important;
}

.fc-daygrid-body-unbalanced,
.fc-scrollgrid-sync-table {
    height: 100% !important;
}

.fc .fc-daygrid-day-frame {
    align-content: center;
}

