<div class="grid">
    <div class="col-12">
      <div class="card">
  
        <!-- Attendance Calendar -->
        <div class="p-fluid p-formgrid grid">

          <div class="field col-12 md:col-3">
              <label htmlFor="state">Select Estate</label>
              <p-dropdown [options]="estateList" [(ngModel)]="selectedEstate" placeholder="Select an Estate" optionLabel="Name" 
					(onChange)="onEstateChange($event)">
              </p-dropdown>
          </div>


          
         
          


      </div>
        <div class="calendar-container">
          <full-calendar #fullCalendar [options]="calendarOptions" ></full-calendar>
        </div>
  
  
      </div>
    </div>
  </div>